version: 2.1
orbs:
  anchore: anchore/anchore-engine@1.4.0
jobs:
  Assemble:
    machine: &virtual_machine
      image: circleci/classic:latest
      docker_layer_caching: true
    steps:
      - run: &install_java
          name: Install Java 11
          command: |
            sudo add-apt-repository ppa:openjdk-r/ppa
            sudo apt-get -qq update
            sudo apt-get -qq install -y openjdk-11-jdk
      - run: &configure_java
          name: Change to Java 11
          command: sudo update-java-alternatives --set java-1.11.0-openjdk-amd64
      - checkout
      - restore_cache: &restore_cache
          keys:
            # Use increasingly general patterns to restore cache
            - gradle-repo-v1-{{ .Branch }}-
            - gradle-repo-v1-
      - run: ./gradlew assemble
        # Cache local artifact repository
      - save_cache:
          paths:
            - ~/.gradle
            - ~/.m2
          key: gradle-repo-v1-{{ .Branch }}
      - run: mkdir -p workspace
      - run:
          command: 'docker save cnxta/ion-search > workspace/ion-search.tar'
      - persist_to_workspace:
          root: workspace
          paths:
            - ion-search.tar
  Test:
    machine: *virtual_machine
    steps:
      - run: *install_java
      - run: *configure_java
      - checkout
      - restore_cache: *restore_cache
      - run: ./gradlew check
      - store_test_results:
          path: build/test-results/test
      - store_artifacts:
          path: ~/project/build/test-results/test/*
          destination: JUnit Test Results
  Sonar:
    docker:
      - image: circleci/openjdk:11-jdk
    steps:
      - checkout
      - restore_cache: *restore_cache
      - run:
          name: Sonar Scan
          command: >
            ./gradlew sonarqube -x dockerfileZip -x docker -x test --info
            -Dsonar.projectKey=$CIRCLE_PROJECT_REPONAME
            -Dsonar.organization=cx
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.java.binaries=**/build/classes
            -Dsonar.pullrequest.key=${CIRCLE_PULL_REQUEST##*/}
            -Dsonar.pullrequest.branch=$CIRCLE_BRANCH
            -Dsonar.pullrequest.base=master
            -Dsonar.pullrequest.provider=github
            -Dsonar.login=$SONAR_TOKEN
      - run:
          name: Sonar Results
          command: |
            printf "For the results of the scan, visit https://sonarcloud.io/dashboard?id=$CIRCLE_PROJECT_REPONAME"
            if [ ! -z ${CIRCLE_PULL_REQUEST} ]; then
              printf "&pullRequest=$CIRCLE_PR_NUMBER"
            fi
            echo
  OWASP:
    docker:
      - image: circleci/openjdk:11-jdk
    steps:
      - restore_cache: *restore_cache
      - checkout
      - run:
          name: OWASP
          command: |
            ./gradlew dependencyCheckAnalyze -x test
  Anchore:
    executor: anchore/anchore_engine
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          command: 'ls -al /tmp/workspace'
      - run:
          command: 'docker load -i /tmp/workspace/ion-search.tar'
      - anchore/analyze_local_image:
          dockerfile_path: ./Dockerfile
          image_name: 'cnxta/ion-search'
          policy_bundle_file_path: .circleci/.anchore/policy_bundle.json
          policy_failure: true
          timeout: '500'
      - anchore/parse_reports
      - store_artifacts:
          path: anchore-reports
workflows:
  version: 2.1
  Full Build:
    jobs:
      - Assemble
      - Test:
          requires:
            - Assemble
      - OWASP:
          requires:
            - Assemble
      - Sonar:
          requires:
            - Assemble
          context: secrets
# TODO Find a way to suppress vulnerabilities and/or upgrade container dependencies
#      - Anchore:
#          requires:
#            - Assemble